@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  box-sizing: inherit;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body *:after,
body *:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

button {
  outline: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

body,
input,
textarea {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
  }

  input[type='number'] {
     -moz-appearance: textfield;
     appearance: textfield;
  }

  outline: inherit;
}

input:-webkit-autofill::first-line {
  background-color: transparent;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  -webkit-text-fill-color: var(--background-paper);
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill + label {
  top: 0px !important;
  transform: scale(0.75) !important;
  transition-property: all !important;
  transition-duration: 200ms !important;
  transition-timing-function: ease-out !important;
}

input:autofill + label {
  top: -8.5px !important;
  transform: scale(0.75) !important;
  transition-property: all !important;
  transition-duration: 200ms !important;
  transition-timing-function: ease-out !important;
}

input {
  caret-color: var(--primary-default);
}

input[type='time']::-webkit-inner-spin-button,
input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type='time']::-moz-focus-outer {
  border: 0;
}

input[type='time']::-ms-clear {
  display: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  z-index: 1;

  &-thumb {
     cursor: pointer;
     border-radius: 8px;
     background: #c5c5c5;
  }
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
